flows.json
[{"id":"b66a1657.c88ab8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"91053c9a.5a94c","type":"ibmiot in","z":"b66a1657.c88ab8","authentication":"apiKey","apiKey":"c6480528.738438","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":180,"wires":[["2215704c.4498f","57fdb761.19da38","594b7aa5.820694"]]},{"id":"2215704c.4498f","type":"function","z":"b66a1657.c88ab8","name":"Current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":120,"wires":[["36b467ff.b2e1b8","594b7aa5.820694","d85d193a.a42468"]]},{"id":"57fdb761.19da38","type":"function","z":"b66a1657.c88ab8","name":"Voltage","func":"global.set('voltage',msg.payload.Voltage)\nmsg.payload=msg.payload.Voltage\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":280,"wires":[["a371e9b4.07e578","594b7aa5.820694"]]},{"id":"36b467ff.b2e1b8","type":"ui_gauge","z":"b66a1657.c88ab8","name":"","group":"285e9379.b1f41c","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#000064","#006400","#ca3838"],"seg1":"","seg2":"","x":740,"y":120,"wires":[]},{"id":"a371e9b4.07e578","type":"ui_gauge","z":"b66a1657.c88ab8","name":"","group":"285e9379.b1f41c","order":2,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#006400","#1e0000","#ca3838"],"seg1":"","seg2":"","x":820,"y":280,"wires":[]},{"id":"bac770c9.f7cfd","type":"ui_button","z":"b66a1657.c88ab8","name":"","group":"285e9379.b1f41c","order":3,"width":0,"height":0,"passthru":false,"label":"SWITCHON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" :\"SWITCHON\"}","payloadType":"json","topic":"","x":210,"y":500,"wires":[["19b33fc.915d5c","a3b10ec5.4efd2"]]},{"id":"34b5f39.792de0c","type":"ui_button","z":"b66a1657.c88ab8","name":"","group":"285e9379.b1f41c","order":4,"width":0,"height":0,"passthru":false,"label":"SWITCHOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SWITCHOFF\"}","payloadType":"json","topic":"","x":210,"y":580,"wires":[["19b33fc.915d5c","a3b10ec5.4efd2"]]},{"id":"19b33fc.915d5c","type":"ibmiot out","z":"b66a1657.c88ab8","authentication":"apiKey","apiKey":"c6480528.738438","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":600,"wires":[]},{"id":"6ea6a19f.b1281","type":"http in","z":"b66a1657.c88ab8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":270,"y":440,"wires":[["3ed1a053.2aa5f"]]},{"id":"6854377b.ca4b28","type":"http response","z":"b66a1657.c88ab8","name":"","statusCode":"","headers":{},"x":690,"y":420,"wires":[]},{"id":"3ed1a053.2aa5f","type":"function","z":"b66a1657.c88ab8","name":"data","func":"msg.payload={'current':global.get(\"current\"),'voltage':global.get(\"voltage\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":420,"wires":[["6854377b.ca4b28"]]},{"id":"a3b10ec5.4efd2","type":"debug","z":"b66a1657.c88ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":500,"wires":[]},{"id":"594b7aa5.820694","type":"debug","z":"b66a1657.c88ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"fc6a0983.9a3398","type":"http request","z":"b66a1657.c88ab8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://www.fast2sms.com/dev/bulk?authorization=J0xqupjXO4fYNmkgrUtnc81C7B6Sv2dZeTzGLMFIbsQPlVa5KodORLS4H82vyFlfgpciqBuGAE1YQ3kD&sender_id=FSTSMS&message=your voltage consumption is high please reduce your consumption&language=english&route=p&numbers=9182518240","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":340,"wires":[[]]},{"id":"d85d193a.a42468","type":"switch","z":"b66a1657.c88ab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":360,"wires":[["fc6a0983.9a3398"]]},{"id":"c6480528.738438","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"285e9379.b1f41c","type":"ui_group","z":"","name":"Default","tab":"36dfa3ad.994f7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"36dfa3ad.994f7c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]